@import "../App.css";

input[type="text"] {
    display: block;
    margin : 0 auto;
}

.container {
    text-rendering: optimizeSpeed;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    padding-top: var(--topbar-height);
    min-height: 100vh;
    overflow: hidden;
}

.inner-container {
    box-sizing: border-box;
    padding-right: calc(env(safe-area-inset-right) + var(--page-padding-horizontal));
    padding-left: calc(env(safe-area-inset-left) + var(--page-padding-horizontal));
    position: relative;
    padding-top: 2rem;
    padding-bottom: 5rem;
}