
:root {
	--color-azure: #3e8ef1;
	--color-storm: #a4c9d8;
	--color-tangerine: #ff4935;
	--color-citric: #cdf567;
	--color-sunflower: #ffbc4b;
	--color-pink: #ffd0d5;
	--color-salmon: #fb7ea8;
	--color-factory-yellow: #ffe818;
	--color-black: #171313;
	--color-white: #fff;
	--color-muted-black: #837e7e;
	--color-background: var(--color-white);
	--color-background--content: var(--color-white);
	--color-typography: var(--color-black);
	--color-typography--disabled: rgba(0, 0, 0, 0.36);
	--color-typography--barely-visible: rgba(0, 0, 0, 0.08);
	--color-accent: var(--color-salmon);
	--color-focus-outline: var(--color-azure);
	--t-stack-headings: "CircularSpotifyText", -apple-system, BlinkMacSystemFont, sans-serif;
	--t-stack: "CircularSpotifyText", -apple-system, BlinkMacSystemFont, sans-serif;
	--t-weight-light: 300;
	--t-weight-book: 400;
	--t-weight-medium: 500;
	--t-weight-bold: 700;
	--t-weight-black: 900;
	--t-display-1: 4rem;
	--t-display-2: 3.4375rem;
	--t-display-3: 3rem;
	--t-display-4: 2.625rem;
	--t-display-5: 2rem;
	--t-heading-1: 1.5rem;
	--t-heading-2: 1.125rem;
	--t-heading-3: 0.875rem;
	--t-subhead-1: 1.5rem;
	--t-subhead-2: 1.125rem;
	--t-subhead-3: 0.875rem;
	--t-body-1: 1.5rem;
	--t-body-2: 1.125rem;
	--t-body-3: 1rem;
	--t-body-4: 0.875rem;
	--t-ui-1: 2rem;
	--t-ui-2: 1rem;
	--t-ui-3: 1rem;
	--t-ui-4: 0.875rem;
	--topbar-height: 5.25rem;
	--page-padding-horizontal: 1rem;
	--animation-speed--fast: 150ms;
	--animation-speed: 350ms;
	--animation-speed--slow: 650ms
}

@media (prefers-reduced-motion:reduce),
(update:none),
(update:slow) {
	:root {
		--animation-speed--fast: 1ms;
		--animation-speed: 1ms;
		--animation-speed--slow: 1ms
	}
}

@media screen and (min-width:600px) {
	:root {
		--t-display-1: 5.625rem;
		--t-display-2: 5rem;
		--t-display-3: 4rem;
		--t-display-4: 3.4375rem;
		--t-display-5: 2.625rem;
		--t-heading-1: 1.75rem;
		--t-heading-2: 1.25rem;
		--t-subhead-1: 1.75rem;
		--t-subhead-2: 1.25rem;
		--t-subhead-3: 0.875rem;
		--t-body-1: 1.75rem;
		--t-body-2: 1.25rem;
		--t-body-3: 1.125;
		--topbar-height: 6.25rem;
		--page-padding-horizontal: 1.5rem
	}
}

@media screen and (min-width:1024px) {
	:root {
		--t-display-1: 9.5rem;
		--t-display-2: 5.625rem;
		--t-display-3: 5rem;
		--t-display-4: 4rem;
		--t-display-5: 3.4375rem;
		--t-heading-1: 2rem;
		--t-heading-2: 1.5rem;
		--t-subhead-1: 2rem;
		--t-subhead-2: 1.5rem;
		--t-body-1: 2rem;
		--t-body-2: 1.5rem;
		--t-body-3: 1.25rem;
		--t-ui-1: 2rem;
		--t-ui-2: 1.125rem;
		--t-ui-3: 1.125rem;
		--page-padding-horizontal: 3.75rem
	}
}

.root {
	min-height: 100vh;
	background-color: var(--color-background);
	color: var(--color-typography);
	transition: background-color var(--animation-speed) ease-out, color var(--animation-speed--slow)
}
*,
:after,
:before {
	box-sizing: border-box
}

html {
	line-sizing: normal
}

body {
	margin: 0
}

h1 {
	font-size: 2rem
}

h2 {
	font-size: 1.5rem
}

h3 {
	font-size: 1.17rem
}

h4 {
	font-size: 1rem
}

h5 {
	font-size: .83rem
}

h6 {
	font-size: .67rem
}

h1 {
	margin: .67em 0
}

pre {
	white-space: pre-wrap
}

hr {
	border-style: solid;
	border-width: 1px 0 0;
	color: inherit;
	height: 0;
	overflow: visible
}


audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
	display: block;
	vertical-align: middle;
	max-width: 100%
}

canvas,
img,
svg,
video {
	height: auto
}

audio {
	width: 100%
}

img {
	border-style: none
}

svg {
	overflow: hidden
}

[type=checkbox],
[type=radio] {
	box-sizing: border-box;
	padding: 0
}

button {
	appearance: none;
	border: 0;
	background: transparent;
	cursor: pointer;
	margin: 0;
	padding: 0;
	font: inherit;
	color: currentColor
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: transparent;
	font-feature-settings: "liga" on, "clig" on, "dlig" off;
	text-rendering: optimizeSpeed;
	touch-action: manipulation
}

.js-focus-visible :focus:not(.focus-visible) {
	outline: none
}

[role=button].focus-visible,
a.focus-visible,
button.focus-visible,
input.focus-visible,
select.focus-visible,
textarea.focus-visible {
	outline: .1875rem solid var(--color-focus-outline)
}

[hidden] {
	display: none
}

figure {
	margin: 0
}

.a11y-visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px)
}

.hidden-without-js {
	visibility: hidden
}

.has-javascript .hidden-without-js {
	visibility: visible
}

.sd-container {
	padding-right: calc(env(safe-area-inset-right) + var(--page-padding-horizontal));
	padding-left: calc(env(safe-area-inset-left) + var(--page-padding-horizontal))
}

@supports (-ms-ime-align:auto) {
	.sd-container {
		padding-right: var(--page-padding-horizontal);
		padding-left: var(--page-padding-horizontal)
	}
}

.sd-container-inner {
	width: 100%;
	max-width: 112.5rem;
	margin: 0 auto
}

.sd-grid {
	display: grid;
	gap: .75rem
}

@media screen and (min-width:600px) {
	.sd-grid {
		grid-template-columns: repeat(4, 1fr);
		gap: 1rem
	}
}

@media screen and (min-width:1024px) {
	.sd-grid {
		grid-template-columns: repeat(12, 1fr);
		gap: 1.5rem
	}
}

.sd-no-scroll {
	overflow: hidden
}

.sd-no-scroll>* {
	touch-action: none
}

.unstyled-list {
	padding: 0;
	margin: 0;
	list-style: none
}

.unstyled-list li:before {
	content: "\200B";
	position: absolute;
	user-select: none
}


.t-body-1,
.t-body-2,
.t-display-1,
.t-display-2,
.t-display-3,
.t-display-4,
.t-display-5,
.t-heading-1,
.t-heading-2,
.t-ui-1,
.t-ui-2,
.t-ui-4 {
	font-weight: var(--t-weight-bold)
}

.t-display-1,
.t-display-2,
.t-display-3,
.t-display-4,
.t-display-5,
.t-heading-1,
.t-subhead-1,
.t-ui-1 {
	letter-spacing: -.06em;
	line-height: 1.08
}

.t-body-2,
.t-body-3,
.t-body-4,
.t-heading-2,
.t-heading-3,
.t-subhead-2,
.t-ui-2,
.t-ui-4 {
	letter-spacing: -.04em;
	line-height: 1.031
}

.t-display-1 {
	font-size: var(--t-display-1)
}

.t-display-2 {
	font-size: var(--t-display-2)
}

.t-display-3 {
	font-size: var(--t-display-3)
}

.t-display-4 {
	font-size: var(--t-display-4)
}

.t-display-5 {
	font-size: var(--t-display-5)
}

.t-heading-1 {
	font-size: var(--t-heading-1)
}

.t-heading-2 {
	font-size: var(--t-heading-2)
}

.t-heading-3 {
	font-size: var(--t-heading-3);
	font-weight: var(--t-weight-medium)
}

.t-subhead-1 {
	font-size: var(--t-subhead-1)
}

.t-subhead-2 {
	font-size: var(--t-subhead-2)
}

.t-subhead-3 {
	font-size: var(--t-subhead-3);
	line-height: 1.29
}

.t-body-1 {
	font-size: var(--t-body-1);
	letter-spacing: -.06em;
	line-height: 1.25
}

@media screen and (min-width:600px) {
	.t-body-1 {
		line-height: 1.21
	}
}

@media screen and (min-width:1024px) {
	.t-body-1 {
		line-height: 1.19
	}
}

.t-body-2 {
	font-size: var(--t-body-2);
	line-height: 1.56
}

@media screen and (min-width:600px) {
	.t-body-2 {
		line-height: 1.5
	}
}

@media screen and (min-width:1024px) {
	.t-body-2 {
		line-height: 1.42
	}
}

.t-body-3 {
	font-size: var(--t-body-3);
	line-height: 1.62
}

@media screen and (min-width:600px) {
	.t-body-3 {
		line-height: 1.56
	}
}

@media screen and (min-width:1024px) {
	.t-body-3 {
		line-height: 1.5
	}
}

.t-body-4 {
	font-size: var(--t-body-4);
	line-height: 1.29
}

.t-ui-1 {
	font-size: var(--t-ui-1)
}

.t-ui-2 {
	font-size: var(--t-ui-2)
}

.t-ui-3 {
	font-size: var(--t-ui-3);
	line-height: 1.12
}

@media screen and (min-width:1024px) {
	.t-ui-3 {
		line-height: 1
	}
}

.t-ui-4 {
	font-size: var(--t-ui-4);
	text-transform: uppercase
}

a {
	color: currentColor
}

.t-ui-4[href] {
	text-decoration: none
}

.t-ui-4[href]:focus,
.t-ui-4[href]:hover {
	text-decoration: underline
}

main {
	position: relative;
	min-height: 100vh
}

body {
	background-color: var(--color-background);
	color: var(--color-typography)
}

body,
button {
	font-family: var(--t-stack)
}

img[sizes][srcset] {
	transition-duration: var(--animation-speed)!important
}

span.style-module--label--1MVQW {
	display: block;
	margin-left: .25rem;
	text-transform: none;
	transform: translateY(100%)
}

.style-module--show--3uoPf span.style-module--label--1MVQW {
	animation: style-module--fadeUp--3u8nM var(--animation-speed--slow) forwards
}

.style-module--navigation--Xeg87 {
	display: grid;
	grid-auto-flow: column;
	gap: 1rem
}

@keyframes style-module--fadeIn--1gJS0 {
	0%,
	50% {
		transform: translate3d(0, -2rem, 0);
		opacity: 0
	}
	to {
		opacity: 1
	}
}

.style-module--item--2doqO {
	display: flex;
	justify-content: center;
	position: relative;
	color: currentColor;
	text-decoration: none
}

.style-module--item--2doqO:hover {
	opacity: .6
}

.style-module--item--2doqO:after {
	display: block;
	content: "";
	position: absolute;
	top: 100%;
	width: .25rem;
	height: .25rem;
	left: 50%;
	margin-top: .5rem;
	border-radius: 1rem;
	background-color: currentColor;
	transform: translateX(-50%) scale(.2);
	opacity: 0;
	transition: transform var(--animation-speed), opacity var(--animation-speed)
}

.style-module--item--2doqO.style-module--active--wnUvp:after,
.style-module--item--2doqO:hover:after,
.style-module--item--2doqO[data-focus-visible-added]:after {
	transform: translateX(-50%);
	transition: transform var(--animation-speed), opacity calc(var(--animation-speed--fast)/2);
	opacity: 1
}

.style-module--fullHeight--1wZcB {
	height: 100vh
}

.style-module--overlay--zVvPC {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 200;
	pointer-events: auto
}

.style-module--overlay--zVvPC:not(.style-module--open--3akh1) {
	pointer-events: none
}

.style-module--overlay--zVvPC.style-module--aboveNav--1EgE7 {
	z-index: 400
}

.style-module--inner--1_SKk {
	height: 100%
}

.style-module--backdrop--u-3wi,
.style-module--backdrop--u-3wi:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh
}

.style-module--backdrop--u-3wi {
	overflow: hidden
}

.style-module--backdrop--u-3wi:before {
	display: block;
	content: "";
	background-color: rgba(0, 0, 0, .24);
	opacity: 0;
	visibility: hidden;
	transition-property: opacity, visibility;
	transition-duration: var(--animation-speed);
	transition-timing-function: ease-in-out
}

.style-module--open--3akh1 .style-module--backdrop--u-3wi:before {
	opacity: 1;
	visibility: visible;
	pointer-events: auto
}

.style-module--content--aiEki {
	display: grid;
	position: relative;
	height: 100%;
	-webkit-overflow-scrolling: touch
}

.style-module--close--3lxHL {
	position: absolute;
	top: 2rem;
	right: var(--page-padding-horizontal);
	padding: 1rem;
	background-color: var(--color-white);
	color: var(--color-black)
}

.style-module--close--3lxHL:not([data-focus-visible-added]) {
	opacity: 0;
	pointer-events: none
}

.navigation-overlay-module--hamburger--1BjNK {
	padding: .625rem;
	transform: translateX(.625rem);
	z-index: 202
}

.navigation-overlay-module--hamburger--1BjNK span {
	display: block;
	width: 1.625rem;
	height: .125rem;
	margin: .3125rem 0;
	background-color: currentColor
}

.navigation-overlay-module--inner--1PfTk {
	display: grid;
	grid-template-rows: 1fr max-content;
	position: relative;
	width: 100%;
	max-height: 100%;
	color: var(--color-black);
	transition: visibility calc(var(--animation-speed--slow)*1.2)
}

.navigation-overlay-module--inner--1PfTk:not(.navigation-overlay-module--open--1xraW) {
	visibility: hidden
}

.navigation-overlay-module--inner--1PfTk .navigation-overlay-module--footer--2yT6I {
	display: grid;
	grid-template-columns: 1fr 1fr;
	position: relative;
	padding-top: 2.5rem;
	padding-bottom: 1rem;
	transition: opacity var(--animation-speed--slow) var(--animation-speed--slow) linear
}

.navigation-overlay-module--inner--1PfTk:not(.navigation-overlay-module--open--1xraW) .navigation-overlay-module--footer--2yT6I {
	opacity: 0;
	transition-delay: 0ms
}

.navigation-overlay-module--background--3On1t {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: var(--color-white);
	transition: transform var(--animation-speed--slow) cubic-bezier(.83, 0, .17, 1);
	transform-origin: right
}

.navigation-overlay-module--inner--1PfTk:not(.navigation-overlay-module--open--1xraW) .navigation-overlay-module--background--3On1t {
	transform: scaleX(0)
}

.navigation-overlay-module--inner--1PfTk ul {
	transition: opacity var(--animation-speed)
}

.navigation-overlay-module--inner--1PfTk:not(.navigation-overlay-module--open--1xraW) ul {
	opacity: 0
}

.navigation-overlay-module--inner--1PfTk ul span {
	transition: transform var(--animation-speed), opacity var(--animation-speed)
}

.navigation-overlay-module--inner--1PfTk li:nth-child(2) span {
	transition-duration: calc(var(--animation-speed)*1.3);
	transition-delay: calc(var(--animation-speed--fast)*0.3)
}

.navigation-overlay-module--inner--1PfTk li:nth-child(3) span {
	transition-duration: calc(var(--animation-speed)*1.6);
	transition-delay: calc(var(--animation-speed--fast)*0.6)
}

.navigation-overlay-module--inner--1PfTk:not(.navigation-overlay-module--open--1xraW) ul span {
	transform: translateX(3rem);
	opacity: 0
}

.navigation-overlay-module--social--cSdSD a {
	display: block;
	color: currentColor;
	text-decoration: none
}

.navigation-overlay-module--social--cSdSD a:first-child {
	margin-bottom: .75rem
}

.navigation-overlay-module--timezones--33HlT>div:before {
	display: none
}

.hamburger-module--hamburger--3C4VF {
	padding: .6875rem;
	transform: translateX(.625rem);
	z-index: 202
}

.hamburger-module--hamburger--3C4VF span {
	display: block;
	width: 1.625rem;
	height: .125rem;
	margin: .3125rem 0;
	background-color: currentColor;
	transform-origin: 45% 50%;
	transition: transform var(--animation-speed), opacity var(--animation-speed--fast)
}

.hamburger-module--hamburger--3C4VF.hamburger-module--open--APrV9 span:nth-child(2) {
	opacity: 0
}

.hamburger-module--hamburger--3C4VF.hamburger-module--open--APrV9 span:first-child {
	transform: translateY(6px) rotate(45deg)
}

.hamburger-module--hamburger--3C4VF.hamburger-module--open--APrV9 span:nth-child(3) {
	transform: translateY(-6px) rotate(-45deg)
}

.style-module--top-bar--8EncK {
	--top-bar-padding-vertical: 1.125rem;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	margin-top: env(safe-area-inset-top);
	z-index: 300;
	pointer-events: none;
	transition: color var(--animation-speed)
}

.style-module--top-bar--8EncK.style-module--open--24-Bs {
	color: var(--color-black)
}

@media screen and (min-width:600px) {
	.style-module--top-bar--8EncK {
		--top-bar-padding-vertical: 2rem
	}
}

.style-module--inner--1qRHH {
	opacity: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	padding-top: var(--top-bar-padding-vertical);
	padding-bottom: var(--top-bar-padding-vertical);
	z-index: 301
}

.style-module--inner--1qRHH>* {
	pointer-events: auto
}

.style-module--logo--10oUe {
	display: block;
	color: currentColor
}

.style-module--mobile-nav--6Kc2n {
	display: grid;
	align-items: center;
	width: 100%;
	padding-top: var(--topbar-height)
}

.style-module--mobile-nav-item--GCE0k {
	display: flex;
	align-items: center;
	position: relative
}

.style-module--mobile-nav-item--GCE0k:before {
	display: block;
	content: "";
	position: absolute;
	top: 50%;
	width: .75rem;
	height: .75rem;
	background-color: currentColor;
	border-radius: 1.5rem;
	transform: scale(.2) translateY(-50%);
	visibility: hidden;
	transition: transform var(--animation-speed)
}

.style-module--mobile-nav-item--GCE0k span {
	transition: transform var(--animation-speed)
}

@media (hover:hover) {
	.style-module--mobile-nav-item--GCE0k:hover {
		opacity: .6;
		transition-duration: 0ms;
		transition-delay: 0ms
	}
}

.style-module--mobile-nav-item-active--317Ow:before {
	transform: translateY(-50%);
	visibility: visible
}

.style-module--mobile-nav--6Kc2n ul {
	grid-auto-flow: row;
	text-align: left
}

.style-module--mobile-nav--6Kc2n a {
	color: currentColor;
	text-decoration: none
}

.style-module--mobile-nav-item-active--317Ow span {
	transform: translateX(1.5rem)
}

/* @keyframes style-module--fadeIn--paVOV {
	0%,
	50% {
		transform: translate3d(0, -2rem, 0);
		opacity: 0
	}
	to {
		opacity: 1
	}
}

.style-module--inner--1qRHH {
	opacity: 1
} */

/* .style-module--revealed--23Rha .style-module--desktop-nav--22t5t li,
.style-module--revealed--23Rha .style-module--inner--1qRHH {
	animation: style-module--fadeIn--paVOV var(--animation-speed--slow) var(--animation-speed--slow) forwards
} */

/* .style-module--revealed--23Rha .style-module--desktop-nav--22t5t li {
	opacity: 0
}

.style-module--revealed--23Rha .style-module--desktop-nav--22t5t li:nth-child(2) {
	animation-duration: calc(var(--animation-speed--slow)*1.2)
}

.style-module--revealed--23Rha .style-module--desktop-nav--22t5t li:nth-child(3) {
	animation-duration: calc(var(--animation-speed--slow)*1.5)
} */

.style-module--top-bar--8EncK button span.t-ui-4 {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	max-width: 220px;
	text-align: left
}