<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Slidify | Home</title>
</head>

<body>
    {% extends "header.html" %}
    {% block content %}

    <div class="sd-container-inner">
        <p class="t-body-1 style-module--title">Welcome.</p>
        <form>
            <iframe title='spotify' src="https://open.spotify.com/embed/track/{{spotify_id}}" width="300" height="380"
                frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            <input type='text' name='id' value='{{ spotify_id }}' style='opacity: 0'>
            <input type="submit" name="submit_button" value="Like">
            <input type="submit" name="submit_button" value="Dislike">
        </form>
    </div>

    {% endblock %}
</body>